- set_headline "Change My Password"

%p Enter your new password below to reset your password and log in.
 
- form_for @user, :url => password_reset_path, :method => :put do |f| 
  = f.error_messages                                                  
  
  = labeled_input(f, :password, :input => f.password_field(:password))
  = labeled_input(f, :password_confirmation, :input => f.password_field(:password_confirmation))
  = labeled_input(f, nil, :input => f.submit("Update Password"), :nolabel => true )
