log/*.log
log/*.out
log/*.pid
tmp/**/*
.dotest/
.dotest/*.
tmp/.*
tmp/profile*
.DS_Store
ui.log
.conductor/state
.conductor/temp/*
screenlog.*
doc/plugins
doc/api
doc/app
doc/*.doc
doc/*.zip
db/schema.sql
db/schema.rb
db/*.sqlite3*
config/database.yml
public/photos/*
public/thumbnails
public/documents
public/article_images/*
public/stylesheets/*.css
public/system
uuid.state
nbproject*
index/*
identifier
secret
.project
.#*
\#*
*~
vendor/**/**/doc/*
vendor/plugins/footnotes/*
rsa_key*
sphinx/*
config/ultrasphinx/*.conf
public/stylesheets/screen.css
