log/*
log/*.log
log/*.out
log/*.pid
tmp/**/*
.dotest/
.dotest/*.
tmp/.*
tmp/restart.txt
tmp/profile*
.DS_Store
ui.log
cli.log
.conductor/state
.conductor/temp/*
screenlog.*
doc/plugins
doc/api
doc/app
doc/*.doc
doc/*.zip
db/schema.sql
db/schema.rb
db/*.sqlite3*
config/database.yml
config/initializers/hoptoad.rb
file-storage/
public/photos/*
public/thumbnails
public/documents
public/article_images/*
public/stylesheets/*.css
public/system
uuid.state
nbproject*
index/*
identifier
secret
.project
.#*
\#*
*~
.*.sw?
vendor/**/**/doc/*
vendor/plugins/footnotes/*
vendor/plugins/group_authz/spec/db/group_authz.sqlite3.db
vendor/plugins/group_authz/spec/debug.log
rsa_key*
sphinx/*
config/ultrasphinx/*.conf
public/stylesheets/screen.css                     
coverage/
artifacts/
database.yml.backup/
coverage*

Capfile
config/deploy.rb
config/deploy*
config/deploy/*
