@import constants.sass
                      

#nav
  :margin-top 0
  :width 100%
  :font-size 12px
  h3
    :float left
  ul
    :list-style none    
    :margin 0
    :padding-left 0    
    li
      :float left
      :list-style none
      :margin 0 1em 0 0 
      :background= !title_bg_color
      :color= !title_text_color
      :width 10em
      :text-align center
      :height 16px
      :padding-top 4px 
      :border= solid !title_bg_color
      :border-width 0 1px 1px 1px
      
    li, li a    
      :color white
      :text-decoration none  
      :font-weight bold

    li.selected, li.selected a
      :color= !title_bg_color
      :background= !page_background
      
    li:hover, li:hover a
      :background #600
    
    li.selected:hover, li.selected:hover a
      :color= !title_text_color
      
  ul:after
    +clearfix
      
#nav:after, #admin_nav:after  
  +clearfix  
