- set_headline "Edit Document"

= render :partial => 'admin_tools' if current_user.admin?

- form_for(@document, :url => document_path(@document, "X-Progress-ID" =>  @uuid), :html => { :multipart => true} ) do |f|
	= render :partial => "form", :locals => {:f => f}

= link_to 'Show', @document
|
= link_to 'Back', documents_path
