- set_headline "Available Documents"

- unless @documents.blank?

  %table.listing
    %tr
      %th Name
      %th Size
      %th File Type
      %th Uploaded On
      %th Uploaded By
      %th{ :colspan => '3' }

    = render :partial => 'document', :collection => @documents
-else
  %p There are no documents available to you at this time.
      
