%p
  %b Name:
  =h @document.name

%p
  %b Description:
  =h @document.description

%p
  %b Download File 
  = link_to "Download", @document.data.url(:original, false)

%p
  %b File size:
  = number_to_human_size @document.data.size

= link_to 'Edit', edit_document_path(@document)
|
= link_to 'Back', documents_path
