-set_headline "List of Groups"

%table.listing
  %tr
    %th Name
    %th
  - @groups.each do |group|
    %tr
      %td= link_to group.name, admin_group_path(group)
      %td= delete_widget(group)
      
= link_to 'New group', new_admin_group_path 