- if logged_in? and current_user.admin?
  #admin_nav
    %h3 Admin Tools:
    %ul
      %li= link_to "Site Preferences", edit_admin_preferences_path
      %li= link_to "User Administration", admin_users_path
      %li= link_to "Groups", admin_groups_path

#nav
  %ul
    = menu_items.join("\n")