#sidebar    
    
  - if logged_in? and current_user.admin?
    - page_block("Admin Tools", :class => 'admin') do
      %ul
        %li= link_to "Site Preferences", edit_admin_preferences_path
        %li= link_to "User Administration", admin_users_path
        %li= link_to "Groups", admin_groups_path    

  = yield :aux if yield :aux
        
  - page_block("Upload a File") do 
    %p{ :style => 'text-align: center;'}
      =button_to "Upload a File", new_document_path, :method => :get
  